# Scraping

In [1]:
#Dependency
import pandas as pd

In [2]:
#URL to scrape table from
url = 'http://www.sportsforecaster.com/nhl/abbreviations'

In [3]:
#pull up list of tables
tables = pd.read_html(url)
tables

[        0                                              1
 0     +/-                                     Plus-minus
 1       A                                        Assists
 2       C                           Center, Compensation
 3       D                            Defenseman, drafted
 4      DD                                Dispersal draft
 5      ED                                Expansion draft
 6      EN                                Empty net goals
 7      FA                                     Free agent
 8       G                             Goals; Goaltenders
 9      GA                                  Goals against
 10    GAA                          Goals against average
 11     GF                                      Goals for
 12     GP                                   Games played
 13    GPI                                Games played in
 14     GW                      Game-winning goals scored
 15     Ht                                         Height
 16      L                                   Losses, left
 17     LW                                      Left wing
 18    NaN                                  Not available
 19    No.                                 Sweater number
 20    Pct                                     Percentage
 21    PIM                           Penalties in minutes
 22    Pos                                       Position
 23    PPG                               Power-play goals
 24   PPGA                        Points-per-game average
 25    Pts                                         Points
 26  PtsPG                                Points per game
 27      R                                  Rookie, right
 28     RD                     Re-entered NHL Entry Draft
 29     RT                                Regulation ties
 30     RW                                     Right wing
 31      S                                  Shots; signed
 32     S%  Percentage of shots resulting in goals scored
 33     SD                Supplemental round pick (draft)
 34    SHA                                  Shots against
 35     SO                                       Shutouts
 36    SV%                                Save percentage
 37      T                                    Trade; Ties
 38    UFA                        Unrestricted free agent
 39      W                                   Wins; waived
 40     WD                                   Waiver draft
 41     Wt                                         Weight,
        0               1
 0    AMS  American Samoa
 1    ANT        Antilles
 2    ARG       Argentina
 3    ARU           Aruba
 4    AUS       Australia
 ..   ...             ...
 75   WAL           Wales
 76  WGER    West Germany
 77   YUG      Yugoslavia
 78   ZAI           Zaire
 79   ZIM        Zimbabwe

 [80 rows x 2 columns],
            0                                         1
 0        AHL                    American Hockey League
 1       AJHL              Alberta Junior Hockey League
 2       Ban.                                    Bantam
 3      BCJHL     British Columbia Junior Hockey League
 4       CCHA     Central Collegiate Hockey Association
 5        CHL                     Central Hockey League
 6       CIAU   Canadian Interuniversity Athletic Union
 7   Cze-Rep.                Czech Republic Extraleague
 8       ECAC    Eastern Collegiate Athletic Conference
 9       ECHL                  East Coast Hockey League
 10      EJHL              Eastern Junior Hockey League
 11    EuroHL                    European Hockey League
 12       Fin                        SM-Liiga (Finland)
 13       Ger         Deutsche Eishockey Liga (Germany)
 14        HE                               Hockey East
 15        HS                               High School
 16       IHL               International Hockey League
 17       Jr.                              Junior A-B-C
 18       Mid                                    Midget
 19      NAHL               North America Hockey League
 20      NCAA  National Collegiate Athletic Association
 21       NHL                    National Hockey League
 22       OHL                     Ontario Hockey League
 23      OJHL              Ontario Junior Hockey League
 24     QMJHL         Quebec Major Junior Hockey League
 25       Rus                     Russian Hockey League
 26      SJHL            Southern Ontario Hockey League
 27      Slov               Slovak Republic Extraleague
 28       Swe                       Elitserien (Sweden)
 29       Swi                     Swiss National League
 30       U18                  United States - Under 18
 31       UHL                      United Hockey League
 32      USHL               United States Hockey League
 33      USHS                  United Stats High School
 34     USHSE           United Stats High School - East
 35     USHSW           United Stats High School - West
 36      WCHA     Western Collegiate Hockey Association
 37       WHL                     Western Hockey League,
        0             1
 0    Ana       Anaheim
 1    Atl       Atlanta
 2    Bos        Boston
 3    Buf       Buffalo
 4    Car      Carolina
 5    CBJ      Columbus
 6    Cgy       Calgary
 7    Chi       Chicago
 8    Col      Colorado
 9    Dal        Dallas
 10   Det       Detroit
 11   Edm      Edmonton
 12   Fla       Florida
 13   Hfd      Hartford
 14    LA   Los Angeles
 15   Min     Minnesota
 16  MinS     Minnesota
 17   Mtl      Montreal
 18   Nas     Nashville
 19    NJ    New Jersey
 20   NYI  NY Islanders
 21   NYR    NY Rangers
 22   Ott        Ottawa
 23   Phi  Philadelphia
 24   Phx       Phoenix
 25   Pit    Pittsburgh
 26   Que        Quebec
 27    SJ      San Jose
 28   StL     St. Louis
 29    TB     Tampa Bay
 30   Tor       Toronto
 31   Van     Vancouver
 32   Wpg      Winnipeg
 33   Wsh    Washington]

In [4]:
#Get table with abbreviations and area/state name
city_abbrev = city_abbrev = tables[3]
city_abbrev.head(5)

     0         1
0  Ana   Anaheim
1  Atl   Atlanta
2  Bos    Boston
3  Buf   Buffalo
4  Car  Carolina

In [5]:
#rename columns for more clear site
city_abbrev = city_abbrev.rename(columns={0: 'team', 1: 'city'})
city_abbrev.head()

  team      city
0  Ana   Anaheim
1  Atl   Atlanta
2  Bos    Boston
3  Buf   Buffalo
4  Car  Carolina

In [6]:
#Format the 'team' column to uppercase
city_abbrev['team'] = city_abbrev['team'].str.upper()
city_abbrev.head()

  team      city
0  ANA   Anaheim
1  ATL   Atlanta
2  BOS    Boston
3  BUF   Buffalo
4  CAR  Carolina