In [1]:
#dependencies
#pulling in other df's from other notebooks
import pandas as pd
import import_ipynb as ipynb
from faceoff__ import team_info
from Wiki_table import team_name, team_arena, team_name_
import pprint as pprint

importing Jupyter notebook from faceoff__.ipynb
importing Jupyter notebook from abbrevname.ipynb
importing Jupyter notebook from Wiki_table.ipynb

In [2]:
#displaying the dataframe from the faceoff__ notebook to merge
team_info

                 player team  win        city
0      Patrice Bergeron  BOS  708      Boston
1          David Krejci  BOS  342      Boston
2         Charlie Coyle  BOS  297      Boston
3           Sean Kuraly  BOS  240      Boston
4          Par Lindholm  BOS  123      Boston
5          Chris Wagner  BOS  114      Boston
6       Phillip Danault  MTL   40    Montreal
7           Jack Eichel  BUF   38     Buffalo
8        Leon Draisaitl  EDM   37    Edmonton
9   Jean-Gabriel Pageau  OTT   36      Ottawa
10        Sidney Crosby  PIT   33  Pittsburgh
11           Lars Eller  WSH   32  Washington
12       Jonathan Toews  CHI   32     Chicago
13      Auston Matthews  TOR   32     Toronto
14    Nicklas Backstrom  WSH   31  Washington

In [3]:
#pulling in the dataframe team_name from the wikitable notebook and assinging it a variable
#changing column names to merge
teams = team_name[['column1','column2']]
teams = teams.rename(columns={'column1': 'city', 'column2': 'teamname'})
teams

            city    teamname
0         Dallas       Stars
1       Colorado   Avalanche
2        Florida    Panthers
3       Montreal   Canadiens
4       Winnipeg        Jets
5      Nashville   Predators
6         Ottawa    Senators
7     Washington    Capitals
8            St.       Louis
9        Arizona     Coyotes
10       Anaheim       Ducks
11       Buffalo      Sabres
12       Detroit         Red
13           New        York
14           New        York
15      Columbus        Blue
16      Carolina  Hurricanes
17    Pittsburgh    Penguins
18           New      Jersey
19     Vancouver     Canucks
20      Edmonton      Oilers
21       Toronto       Maple
22       Calgary      Flames
23           San        Jose
24           Los     Angeles
25        Boston      Bruins
26         Vegas      Golden
27       Chicago  Blackhawks
28  Philadelphia      Flyers
29     Minnesota        Wild

In [4]:
#merging team_info and teams
full_team = pd.merge(team_info,teams, on='city', how='left')
full_team

                 player team  win        city    teamname
0      Patrice Bergeron  BOS  708      Boston      Bruins
1          David Krejci  BOS  342      Boston      Bruins
2         Charlie Coyle  BOS  297      Boston      Bruins
3           Sean Kuraly  BOS  240      Boston      Bruins
4          Par Lindholm  BOS  123      Boston      Bruins
5          Chris Wagner  BOS  114      Boston      Bruins
6       Phillip Danault  MTL   40    Montreal   Canadiens
7           Jack Eichel  BUF   38     Buffalo      Sabres
8        Leon Draisaitl  EDM   37    Edmonton      Oilers
9   Jean-Gabriel Pageau  OTT   36      Ottawa    Senators
10        Sidney Crosby  PIT   33  Pittsburgh    Penguins
11           Lars Eller  WSH   32  Washington    Capitals
12       Jonathan Toews  CHI   32     Chicago  Blackhawks
13      Auston Matthews  TOR   32     Toronto       Maple
14    Nicklas Backstrom  WSH   31  Washington    Capitals

In [5]:
# above, row 13 the team name is actually 'Toronto Maple Leafs but its only displaying
# 'maple' so i need to find the Maple leafs info from the
# team_name_ df from the wikitable notebook
team_name_ = team_name_.rename(columns={'column1': 'city', 'team_name': 'teamname'})
toronto = team_name_.loc[team_name_['city'] == 'Toronto']
toronto

       city     teamname
21  Toronto  Maple Leafs

In [6]:
#merging team_info and the toronto database and dropping Washington
#wanted top 10 but wanted to show toronto becuase of above work, so just dumped washington
full_player_info = pd.merge(team_info,toronto, on='city',how='left')
i = full_player_info[(full_player_info.team == 'WSH')].index
full_player_ = full_player_info.drop(i)
full_player_

                 player team  win        city     teamname
0      Patrice Bergeron  BOS  708      Boston          NaN
1          David Krejci  BOS  342      Boston          NaN
2         Charlie Coyle  BOS  297      Boston          NaN
3           Sean Kuraly  BOS  240      Boston          NaN
4          Par Lindholm  BOS  123      Boston          NaN
5          Chris Wagner  BOS  114      Boston          NaN
6       Phillip Danault  MTL   40    Montreal          NaN
7           Jack Eichel  BUF   38     Buffalo          NaN
8        Leon Draisaitl  EDM   37    Edmonton          NaN
9   Jean-Gabriel Pageau  OTT   36      Ottawa          NaN
10        Sidney Crosby  PIT   33  Pittsburgh          NaN
12       Jonathan Toews  CHI   32     Chicago          NaN
13      Auston Matthews  TOR   32     Toronto  Maple Leafs

In [7]:
#filling the NA's with the info from the full_team df to get complete name
full__data = full_player_.fillna(full_team)
full__data["Team(s)"] = full__data["city"] + " " + full__data["teamname"]
full__data

,player,team,win,city,teamname,Team(s)
0,Patrice Bergeron,BOS,708,Boston,Bruins,Boston Bruins
1,David Krejci,BOS,342,Boston,Bruins,Boston Bruins
2,Charlie Coyle,BOS,297,Boston,Bruins,Boston Bruins
3,Sean Kuraly,BOS,240,Boston,Bruins,Boston Bruins
4,Par Lindholm,BOS,123,Boston,Bruins,Boston Bruins
5,Chris Wagner,BOS,114,Boston,Bruins,Boston Bruins
6,Phillip Danault,MTL,40,Montreal,Canadiens,Montreal Canadiens
7,Jack Eichel,BUF,38,Buffalo,Sabres,Buffalo Sabres
8,Leon Draisaitl,EDM,37,Edmonton,Oilers,Edmonton Oilers
9,Jean-Gabriel Pageau,OTT,36,Ottawa,Senators,Ottawa Senators
10,Sidney Crosby,PIT,33,Pittsburgh,Penguins,Pittsburgh Penguins
12,Jonathan Toews,CHI,32,Chicago,Blackhawks,Chicago Blackhawks
13,Auston Matthews,TOR,32,Toronto,Maple Leafs,Toronto Maple Leafs

In [8]:
#merging above table on the arena info db
PTA_df = pd.merge(full__data,team_arena, on='Team(s)', how='left')
PTA_df

,player,team,win,city,teamname,Team(s),Arena
0,Patrice Bergeron,BOS,708,Boston,Bruins,Boston Bruins,TD Garden
1,David Krejci,BOS,342,Boston,Bruins,Boston Bruins,TD Garden
2,Charlie Coyle,BOS,297,Boston,Bruins,Boston Bruins,TD Garden
3,Sean Kuraly,BOS,240,Boston,Bruins,Boston Bruins,TD Garden
4,Par Lindholm,BOS,123,Boston,Bruins,Boston Bruins,TD Garden
5,Chris Wagner,BOS,114,Boston,Bruins,Boston Bruins,TD Garden
6,Phillip Danault,MTL,40,Montreal,Canadiens,Montreal Canadiens,Bell Centre
7,Jack Eichel,BUF,38,Buffalo,Sabres,Buffalo Sabres,KeyBank Center
8,Leon Draisaitl,EDM,37,Edmonton,Oilers,Edmonton Oilers,Rogers Place
9,Jean-Gabriel Pageau,OTT,36,Ottawa,Senators,Ottawa Senators,Canadian Tire Centre
10,Sidney Crosby,PIT,33,Pittsburgh,Penguins,Pittsburgh Penguins,PPG Paints Arena
11,Jonathan Toews,CHI,32,Chicago,Blackhawks,Chicago Blackhawks,United Center
12,Auston Matthews,TOR,32,Toronto,Maple Leafs,Toronto Maple Leafs,Scotiabank Arena

In [9]:
#getting a list of the city names, putting it into its own db then dropping duplicates so I can API search
city_list = []
for x in PTA_df['city']:
    city_list.append(x)
    
city_df = pd.DataFrame(city_list, columns =['city'])
city_df__ = city_df.drop_duplicates(subset=['city'])
city_df__

          city
0       Boston
6     Montreal
7      Buffalo
8     Edmonton
9       Ottawa
10  Pittsburgh
11     Chicago
12     Toronto

# API CALL 1

In [10]:
#doing an API call on google places to find the lat and lang of the city
#using the city name as the starting point

# Dependencies
import requests
import json
from pprint import pprint
from config import gkey
import time

city_ltlg = []
for city in city_list:
    target_city = city
    #print(target_city)

    # Build the endpoint URL
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
        'address={0}&key={1}').format(target_city, gkey)
    geo_data = requests.get(target_url).json()
    lat = geo_data["results"][0]["geometry"]['bounds']['northeast']["lat"]
    lng = geo_data["results"][0]["geometry"]["bounds"]['northeast']["lng"]
    #print(f"{lat}, {lng}")
    

    city_ltlg.append({"city":target_city,
                     "city lat_lng":f"{lat}, {lng}"})

print(city_ltlg)

[{'city': 'Boston', 'city lat_lng': '42.40081989999999, -70.749455'}, {'city': 'Boston', 'city lat_lng': '42.40081989999999, -70.749455'}, {'city': 'Boston', 'city lat_lng': '42.40081989999999, -70.749455'}, {'city': 'Boston', 'city lat_lng': '42.40081989999999, -70.749455'}, {'city': 'Boston', 'city lat_lng': '42.40081989999999, -70.749455'}, {'city': 'Boston', 'city lat_lng': '42.40081989999999, -70.749455'}, {'city': 'Montreal', 'city lat_lng': '45.7058381, -73.47426'}, {'city': 'Buffalo', 'city lat_lng': '42.9664549, -78.795157'}, {'city': 'Edmonton', 'city lat_lng': '53.7159857, -113.2716433'}, {'city': 'Ottawa', 'city lat_lng': '45.5375801, -75.2465979'}, {'city': 'Pittsburgh', 'city lat_lng': '40.501368, -79.8657231'}, {'city': 'Chicago', 'city lat_lng': '42.023131, -87.52366099999999'}, {'city': 'Toronto', 'city lat_lng': '43.8554579, -79.1168971'}]

In [11]:
#putting the list of dictionaries into a df and dropping duplicates to merge
dict_df = pd.DataFrame(city_ltlg)
dict_df_dd = dict_df.drop_duplicates(subset=['city'])
dict_df_dd

          city                   city lat_lng
0       Boston  42.40081989999999, -70.749455
6     Montreal          45.7058381, -73.47426
7      Buffalo         42.9664549, -78.795157
8     Edmonton       53.7159857, -113.2716433
9       Ottawa        45.5375801, -75.2465979
10  Pittsburgh         40.501368, -79.8657231
11     Chicago  42.023131, -87.52366099999999
12     Toronto        43.8554579, -79.1168971

In [12]:
#merging the lat/lang info into the database
PTALL_df = pd.merge(PTA_df,dict_df_dd, on='city', how='left')
PTALL_df

,player,team,win,city,teamname,Team(s),Arena,city lat_lng
0,Patrice Bergeron,BOS,708,Boston,Bruins,Boston Bruins,TD Garden,"42.40081989999999, -70.749455"
1,David Krejci,BOS,342,Boston,Bruins,Boston Bruins,TD Garden,"42.40081989999999, -70.749455"
2,Charlie Coyle,BOS,297,Boston,Bruins,Boston Bruins,TD Garden,"42.40081989999999, -70.749455"
3,Sean Kuraly,BOS,240,Boston,Bruins,Boston Bruins,TD Garden,"42.40081989999999, -70.749455"
4,Par Lindholm,BOS,123,Boston,Bruins,Boston Bruins,TD Garden,"42.40081989999999, -70.749455"
5,Chris Wagner,BOS,114,Boston,Bruins,Boston Bruins,TD Garden,"42.40081989999999, -70.749455"
6,Phillip Danault,MTL,40,Montreal,Canadiens,Montreal Canadiens,Bell Centre,"45.7058381, -73.47426"
7,Jack Eichel,BUF,38,Buffalo,Sabres,Buffalo Sabres,KeyBank Center,"42.9664549, -78.795157"
8,Leon Draisaitl,EDM,37,Edmonton,Oilers,Edmonton Oilers,Rogers Place,"53.7159857, -113.2716433"
9,Jean-Gabriel Pageau,OTT,36,Ottawa,Senators,Ottawa Senators,Canadian Tire Centre,"45.5375801, -75.2465979"
10,Sidney Crosby,PIT,33,Pittsburgh,Penguins,Pittsburgh Penguins,PPG Paints Arena,"40.501368, -79.8657231"
11,Jonathan Toews,CHI,32,Chicago,Blackhawks,Chicago Blackhawks,United Center,"42.023131, -87.52366099999999"
12,Auston Matthews,TOR,32,Toronto,Maple Leafs,Toronto Maple Leafs,Scotiabank Arena,"43.8554579, -79.1168971"

# API CALL 2

In [13]:
#using the lat and lang found in the previous API call to now find the closest restaurant to that city
restaurant_name = []
for cord in PTALL_df['city lat_lng']:
    # setting the geocoordinates to find the stadium
    target_coordinates = cord
    target_radius = 50000
    target_type = "restaurant"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": gkey
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    places_data = response.json()
    res_name = places_data['results'][0]['name']
    
    restaurant_name.append({"city lat_lng":cord,
                           "restaurant": res_name})
    #print(restaurant_name)
    #break
    
print(restaurant_name)

[{'city lat_lng': '42.40081989999999, -70.749455', 'restaurant': 'Hawthorne Hotel'}, {'city lat_lng': '42.40081989999999, -70.749455', 'restaurant': 'Hawthorne Hotel'}, {'city lat_lng': '42.40081989999999, -70.749455', 'restaurant': 'Hawthorne Hotel'}, {'city lat_lng': '42.40081989999999, -70.749455', 'restaurant': 'Hawthorne Hotel'}, {'city lat_lng': '42.40081989999999, -70.749455', 'restaurant': 'Hawthorne Hotel'}, {'city lat_lng': '42.40081989999999, -70.749455', 'restaurant': 'Hawthorne Hotel'}, {'city lat_lng': '45.7058381, -73.47426', 'restaurant': 'Novotel Montréal Centre'}, {'city lat_lng': '42.9664549, -78.795157', 'restaurant': "Salvatore's Garden Place Hotel"}, {'city lat_lng': '53.7159857, -113.2716433', 'restaurant': 'Union Bank Inn'}, {'city lat_lng': '45.5375801, -75.2465979', 'restaurant': 'Novotel Ottawa'}, {'city lat_lng': '40.501368, -79.8657231', 'restaurant': 'Fairmont Pittsburgh'}, {'city lat_lng': '42.023131, -87.52366099999999', 'restaurant': 'The Ivy Hotel'}, {'city lat_lng': '43.8554579, -79.1168971', 'restaurant': 'Hotel Novotel Toronto North York'}]

In [14]:
#putting that list into a df to merge and dropping duplicates
restaurant_df = pd.DataFrame(restaurant_name)
restaurant_df_dd = restaurant_df.drop_duplicates(subset=['restaurant'])
restaurant_df_dd

                     city lat_lng                        restaurant
0   42.40081989999999, -70.749455                   Hawthorne Hotel
6           45.7058381, -73.47426           Novotel Montréal Centre
7          42.9664549, -78.795157    Salvatore's Garden Place Hotel
8        53.7159857, -113.2716433                    Union Bank Inn
9         45.5375801, -75.2465979                    Novotel Ottawa
10         40.501368, -79.8657231               Fairmont Pittsburgh
11  42.023131, -87.52366099999999                     The Ivy Hotel
12        43.8554579, -79.1168971  Hotel Novotel Toronto North York

In [15]:
final_df = pd.merge(PTALL_df,restaurant_df_dd, on='city lat_lng', how='left')
del final_df['teamname']
final_df

,player,team,win,city,Team(s),Arena,city lat_lng,restaurant
0,Patrice Bergeron,BOS,708,Boston,Boston Bruins,TD Garden,"42.40081989999999, -70.749455",Hawthorne Hotel
1,David Krejci,BOS,342,Boston,Boston Bruins,TD Garden,"42.40081989999999, -70.749455",Hawthorne Hotel
2,Charlie Coyle,BOS,297,Boston,Boston Bruins,TD Garden,"42.40081989999999, -70.749455",Hawthorne Hotel
3,Sean Kuraly,BOS,240,Boston,Boston Bruins,TD Garden,"42.40081989999999, -70.749455",Hawthorne Hotel
4,Par Lindholm,BOS,123,Boston,Boston Bruins,TD Garden,"42.40081989999999, -70.749455",Hawthorne Hotel
5,Chris Wagner,BOS,114,Boston,Boston Bruins,TD Garden,"42.40081989999999, -70.749455",Hawthorne Hotel
6,Phillip Danault,MTL,40,Montreal,Montreal Canadiens,Bell Centre,"45.7058381, -73.47426",Novotel Montréal Centre
7,Jack Eichel,BUF,38,Buffalo,Buffalo Sabres,KeyBank Center,"42.9664549, -78.795157",Salvatore's Garden Place Hotel
8,Leon Draisaitl,EDM,37,Edmonton,Edmonton Oilers,Rogers Place,"53.7159857, -113.2716433",Union Bank Inn
9,Jean-Gabriel Pageau,OTT,36,Ottawa,Ottawa Senators,Canadian Tire Centre,"45.5375801, -75.2465979",Novotel Ottawa
10,Sidney Crosby,PIT,33,Pittsburgh,Pittsburgh Penguins,PPG Paints Arena,"40.501368, -79.8657231",Fairmont Pittsburgh
11,Jonathan Toews,CHI,32,Chicago,Chicago Blackhawks,United Center,"42.023131, -87.52366099999999",The Ivy Hotel
12,Auston Matthews,TOR,32,Toronto,Toronto Maple Leafs,Scotiabank Arena,"43.8554579, -79.1168971",Hotel Novotel Toronto North York

In [16]:
import matplotlib.pyplot as plt
import pymongo
import csv
import json
from pymongo import MongoClient
client = MongoClient()
client = MongoClient('localhost', 27017)
db=client['faceoff_data']
colhockey=db['faceoff_wins']
colhockey.drop()

In [17]:
for index, row in final_df.iterrows():
    print (row)
    colhockey.insert_one(row.to_dict())

player                       Patrice Bergeron
team                                      BOS
win                                       708
city                                   Boston
Team(s)                         Boston Bruins
Arena                               TD Garden
city lat_lng    42.40081989999999, -70.749455
restaurant                    Hawthorne Hotel
Name: 0, dtype: object
player                           David Krejci
team                                      BOS
win                                       342
city                                   Boston
Team(s)                         Boston Bruins
Arena                               TD Garden
city lat_lng    42.40081989999999, -70.749455
restaurant                    Hawthorne Hotel
Name: 1, dtype: object
player                          Charlie Coyle
team                                      BOS
win                                       297
city                                   Boston
Team(s)                         Boston Bruins
Arena                               TD Garden
city lat_lng    42.40081989999999, -70.749455
restaurant                    Hawthorne Hotel
Name: 2, dtype: object
player                            Sean Kuraly
team                                      BOS
win                                       240
city                                   Boston
Team(s)                         Boston Bruins
Arena                               TD Garden
city lat_lng    42.40081989999999, -70.749455
restaurant                    Hawthorne Hotel
Name: 3, dtype: object
player                           Par Lindholm
team                                      BOS
win                                       123
city                                   Boston
Team(s)                         Boston Bruins
Arena                               TD Garden
city lat_lng    42.40081989999999, -70.749455
restaurant                    Hawthorne Hotel
Name: 4, dtype: object
player                           Chris Wagner
team                                      BOS
win                                       114
city                                   Boston
Team(s)                         Boston Bruins
Arena                               TD Garden
city lat_lng    42.40081989999999, -70.749455
restaurant                    Hawthorne Hotel
Name: 5, dtype: object
player                  Phillip Danault
team                                MTL
win                                  40
city                           Montreal
Team(s)              Montreal Canadiens
Arena                       Bell Centre
city lat_lng      45.7058381, -73.47426
restaurant      Novotel Montréal Centre
Name: 6, dtype: object
player                             Jack Eichel
team                                       BUF
win                                         38
city                                   Buffalo
Team(s)                         Buffalo Sabres
Arena                           KeyBank Center
city lat_lng            42.9664549, -78.795157
restaurant      Salvatore's Garden Place Hotel
Name: 7, dtype: object
player                    Leon Draisaitl
team                                 EDM
win                                   37
city                            Edmonton
Team(s)                  Edmonton Oilers
Arena                       Rogers Place
city lat_lng    53.7159857, -113.2716433
restaurant                Union Bank Inn
Name: 8, dtype: object
player              Jean-Gabriel Pageau
team                                OTT
win                                  36
city                             Ottawa
Team(s)                 Ottawa Senators
Arena              Canadian Tire Centre
city lat_lng    45.5375801, -75.2465979
restaurant               Novotel Ottawa
Name: 9, dtype: object
player                   Sidney Crosby
team                               PIT
win                                 33
city                        Pittsburgh
Team(s)            Pittsburgh Penguins
Arena                 PPG Paints Arena
city lat_lng    40.501368, -79.8657231
restaurant         Fairmont Pittsburgh
Name: 10, dtype: object
player                         Jonathan Toews
team                                      CHI
win                                        32
city                                  Chicago
Team(s)                    Chicago Blackhawks
Arena                           United Center
city lat_lng    42.023131, -87.52366099999999
restaurant                      The Ivy Hotel
Name: 11, dtype: object
player                           Auston Matthews
team                                         TOR
win                                           32
city                                     Toronto
Team(s)                      Toronto Maple Leafs
Arena                           Scotiabank Arena
city lat_lng             43.8554579, -79.1168971
restaurant      Hotel Novotel Toronto North York
Name: 12, dtype: object

In [18]:
colhockey.insert_many(final_df.to_dict('records'))

In [19]:
from config import cloudM ,cloudMpassword 
#print (cloudM,cloudMpassword)
cloudstr=f'mongodb+srv://{cloudM}:{cloudMpassword}@kevincluster.1v0a5.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'
###
#using the example string above create your own connection string . 
#this is what you saved in the notepad during the cluster creation process

##
cloudclient = MongoClient(cloudstr)
print(cloudstr)
# colhockey.drop()
# db=cloudclient['faceoff_data']
# colhockey=db['faceoff_wins']
# colhockey.insert_many(final_df.to_dict('records'))

mongodb+srv://Sheek27:44Gump@kevincluster.1v0a5.mongodb.net/myFirstDatabase?retryWrites=true&w=majority